<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeomKitTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F193DF69237A0B23004D4334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F193DF71237A0B24004D4334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D7F9D12379C7EC00E80BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D7F9DA2379C7EC00E80BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
